{% extends 'base.html' %}
{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="/static/css/style.min.css">
{% endblock %}
{% block body %}
    <div ng-app="test-module" class="content" id="application">
        <ng-view></ng-view>
        <script src="/static/js/libs.min.js" type="application/javascript"></script>
        <script src="/static/js/app.min.js" type="application/javascript"></script>
    </div>
{% endblock %}