<div class="row">
    <div class="col-lg-10 col-md-10 col-sm-10 col-lg-offset-1 col-md-offset-1">
        <h3>Вы набрали {{ instance.total }} баллов</h3>
        <h4>{{ (instance.questions|correctUserAnswers:true).length }} правильных ответа.</h4>
        <h4>{{ (instance.questions|correctUserAnswers:false).length }} неправильных.</h4>

    </div>
</div>
<div class="row" ng-repeat="question in instance.questions" ng-show="!question.user_answer.correct">
    <hr>
    <div class="col-lg-10 col-md-10 col-sm-10 col-lg-offset-1 col-md-offset-1">
        <h3><small>{{ $index + 1 }}.</small>&nbsp;{{ question.question }}</h3>
        <p class="text-danger">Ваш ответ: {{ instance.verboseUserAnswer(question) }} &mdash; неправильно</p>
        <p class="text-success">Правильный ответ: {{ instance.verboseCorrectAnswer(question) }} &mdash; правильно</p>
    </div>
</div>