<div class="row" ng-repeat="question in instance.questions">
    <hr>
    <div class="col-lg-10 col-md-10 col-sm-10 col-lg-offset-1 col-md-offset-1">
        <h3><small>{{ $index + 1 }}.</small>&nbsp;{{ question.question }}</h3>
        <div ng-if="question.type == 'textInput'" class="step-to-right">
            <input type="text" ng-change="instance.checkFill()" ng-model="instance.answers[question.checksum]['text']">
        </div>
        <div ng-if="question.type == 'checkboxInput'" class="step-to-right">
            <div ng-repeat="answer in question.answers">
                <input type="checkbox" ng-change="instance.checkFill()" ng-true-value="1" ng-false-value=""
                       ng-model="instance.answers[question.checksum]['checkbox'][answer.option]"
                       value="{{ answer.option }}"> {{ answer.option }}.&nbsp;{{ answer.value }}
            </div>
        </div>
        <div ng-if="question.type == 'radioButton'" class="step-to-right">
            <div ng-repeat="answer in question.answers">
                <input type="radio" ng-change="instance.checkFill()"
                       ng-model="instance.answers[question.checksum]['radio']"
                       value="{{ answer.option }}"> {{ answer.option }}.&nbsp;{{ answer.value }}
            </div>
        </div>
    </div>
</div>
<a ng-show="instance.hasAllAnswers" id="endTestButton"
   href class="btn btn-primary pull-right step-to-left" ng-click="instance.submit()">Завершить</a>

